
@{
    ViewData["Title"] = "CreateNewContainer";
}

<h1>CreateNewContainer</h1>

<p>
    The @ViewBag.BlobContainerName is created
    @(ViewBag.Success == true ? "Succeeded!" : "failed! Because the container is exist.")
</p>